button {
    padding: 6px 12px;
    font-size: 14px;
  }
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 700px;
  background: transparent;
  border-radius: 12px;
  padding: 10px;
  margin-top: 7vw;
}

.search-input {
  flex: 1;
  border: 1px solid rgb(243, 235, 235);
  outline: none;
  padding: 16px 18px;
  font-size: 16px;
  border-radius:0px 0px;
  background: transparent;
  color: #eeeaea;
}

.search-input::placeholder {
  color: #f0eded;
}

.search-button {
  border: 1px solid white;
  padding: 17px 18px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border-radius: 0px 0px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.search-button:hover {
  background: #222;
}
.search-container {
  backdrop-filter: blur(8px);
}
.head-description{
    border: 1px solid #790505;
    border-radius: 10px;
    margin: 10px 20px;
}
.head-description:hover{
    background-color: #650c0c;
    //color: #fff !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .description{
        color: #fff !important;
    }
    .info-title{
        color: #a58d8d !important;
    }
}