/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';


// themes - our custom or/and out of the box themes
@import '../src/app/styles/styles.scss';

// framework component themes (styles tied to theme variables)
@import '@nebular/theme/styles/globals';


// loading progress bar theme
@import '././app/styles/pace.theme.scss';

@import './app/styles/layout';
@import './app/styles/overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();


  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};
.btn-submit{
  background-color: #c73c5f;
}
*{
   font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}